* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
html, body {
    overflow-x: hidden;
}

body {
    width: 100vw;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    height: 110vh;
}

/* ---------- HEADER ---------- */
.header {
    height: auto;
    width: 100%;
    background: #0b3d0b;
    color: white;
    text-align: center;
    padding: 1rem;
    border-bottom: 0.375rem solid #0b7a2f; /* 6px */

}

.goLogo {
    width: 6.875rem;      /* 110px */
    filter: brightness(0) invert(1);
    margin-bottom: 0.3rem; /* 15px */
}

.location {
    font-size: 1rem;  /* 18px */
    line-height: 1.4;
}

/* ---------- INFO SECTION ---------- */
.info {
    position: relative;
    top: -1rem;
    left: -.6rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

.infoTicket {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem;
    width: 100%;
    border-bottom: 3px dotted #555;
}
/* All images default size */
.infoTicket img {
    height: 8rem;       /* responsive height */
    width: auto;
    object-fit: contain;
}
/* Middle image slightly smaller */
.infoTicket img:nth-child(2) {
    height: 9rem;
}
.ticketnumber p{
    font-family: Helvetica ;
    font-size: 1.2rem;
}
.ticketnumber span{
    font-weight: bold;
    color:#555;
}

.barcode {
    width: 100%;
    background-image: url(../img/IMG_4818.jpeg);
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
}

.barcode p {
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 0.25em;
    color: #0f5a0f;
}


/* ---------- TIME SECTION ---------- */
.time {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0.3125rem; /* 5px */
}
.time div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.time p {
    font-weight: bolder;
    font-size: 0.7rem; /* 15px */
}
.currentrunningtime,.activitionRunningTime {
    font-size: 1.1rem !important; /* 18px */
    font-weight: 700;
    margin-top: 0.3125rem;
    color: #555;
}


/* ---------- FOOTER ---------- */
.footer {
    position: relative;
    top: -1rem;
    height:auto;
    width: 100%;
    background: #0b3d0b;
    color: white;
    text-align: center;
    padding: 1.5625rem 1.5625rem;
}


.showprof {
    font-size: 1.01rem;
    margin-bottom: 20px;
}

/* BIG COUNTDOWN TIMER */
.timer {
    font-size: 2.5rem; /* 48px */
    font-weight: 700;
    letter-spacing: 0.125rem;
}
/* Animation */
@keyframes goPulse {
    0% {
        background-color: #0b3d0b;
    }
    50% {
        background-color: #0f5a0f;
    }
    100% {
        background-color: #0b3d0b;
    }
}

@keyframes textPulse {
    0% {
        color: #ffffff;
    }
    50% {
        color: #5f945f;
    }
    100% {
        color: #ffffff;
    }
}
@keyframes goSlide {
    0% {
        transform: translateX(120%);
    }
    100% {
        transform: translateX(-120%);
    }

}

.header,
.footer,body {
    animation: goPulse 2s infinite ease-in-out;
}

.barcode p {
    animation: textPulse 2s infinite ease-in-out;
}
.headerWraper {
    width: 100%;
    overflow: hidden ;
    position: relative;
}
.heading {
    font-size: 1.2rem; /* 25px */
    font-weight: 700;
    letter-spacing: 0.125rem;
    white-space: nowrap;
    margin: 0.5rem 0 .5rem;
    animation: goSlide 5s linear infinite;
}
.circle {
    position: relative;
    color: white;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
    background-color: #0b7a2f;
    height: 1.25rem; /* 20px */
    width: 1.25rem;
    border: 0.1875rem solid white; /* 3px */
    border-radius: 50%;
}
